@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  font-weight: 400;
  max-height: 100%;
}

.node {
  width: 28px;
  height: 28px;
  border: 1px solid rgb(229, 231, 235);
}

.wall {
  background-color: black;
  /* animation-name: scaleUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1; */
  border: none;
}

.wall-animated {
  background-color: black;
  animation-name: scaleUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  border: none;
}

.start {
  background-color: transparent;
  border: none;
  color: rgb(8, 35, 156);
  animation-name: scaleUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
}

.end {
  background-color: transparent;
  border: none;
  color: rgb(8, 35, 156);
  animation-name: scaleUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
}

.visited {
  border: 1px solid rgb(248, 248, 248);
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.shortest-path {
  border: 1px solid rgb(255, 254, 106);
  background-color: rgb(255, 254, 106);
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: contain;*/
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.3);
  }

  90% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes visitedAnimation {
  0% {
    background-color: rgb(255, 254, 106);
    transform: scale(1);
  }

  30% {
    transform: scale(0.3);
    background-color: rgba(7, 7, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(18, 69, 136, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(111, 20, 214, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(148, 69, 238, 0.75);
  }
}

@keyframes triangletwo {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
